<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=yes">

    <title><%= elementName %> Seed</title>

    <% if  (elementVersion !== 'vanilla') { %>
    <script>
      // Setup Polymer options
      window.Polymer = {
        dom: 'shadow',
        lazyRegister: true
      };

      // Load webcomponentsjs polyfill if browser does not support native Web Components
      (function() {
        'use strict';

        var onload = function() {
          // For native Imports, manually fire WebComponentsReady so user code
          // can use the same code path for native and polyfill'd imports.
          if (!window.HTMLImports) {
            document.dispatchEvent(
              new CustomEvent('WebComponentsReady', {bubbles: true})
            );
          }
        };

        var webComponentsSupported = (
          'registerElement' in document
          && 'import' in document.createElement('link')
          && 'content' in document.createElement('template')
        );

        if (!webComponentsSupported) {
          var script = document.createElement('script');
          script.async = true;
          script.src = 'bower_components/webcomponentsjs/webcomponents-lite.min.js';
          script.onload = onload;
          document.head.appendChild(script);
        } else {
          onload();
        }
      })();
    </script>
    <% } %>

    <% if (elementVersion === '1.x') { %>
    <link rel="import" href="bower_components/iron-component-page/iron-component-page.html">
    <% } else if (elementVersion === '2.0') { %>
    <link rel="import" href="bower_components/<%= elementName %>/<%= elementName %>.html">
    <script src="/bower_components/custom-elements/custom-elements.min.js"></script>
    <% } else if (elementVersion === 'vanilla') { %>
    <link rel="import" href="bower_components/<%= elementName %>/<%= elementName %>.html">
    <script src="/bower_components/custom-elements/dist/CustomElements.min.js"></script>
    <% } %>




    <style>
      body {
        margin: 0;
        min-height: 100vh;
        background-color: #eeeeee;
      }
    </style>

  </head>
  <body>

    <% if ( elementVersion === '1.x' ) { %>

      <% if ( elementType === 'component' || elementType === 'style' ) { %>
        <iron-component-page src="bower_components/<%=elementName%>/<%=elementName%>.html" active="<%=elementName%>"></iron-component-page>
      <% } else { %>
          <div>This is the place fot a 1.x behavior</div>
          <iron-component-page src="bower_components/<%=elementName%>/<%=elementName%>.html" active="<%=elementName%>"></iron-component-page>
      <% } %>

    <% } else if ( elementVersion === '2.0' ) { %>

      <% if ( elementType === 'component' ) { %>
        <!-- 
        Swap the component page in for the demo when the 2.0 version of the component is ready.
        <iron-component-page src="bower_components/<%=elementName%>/<%=elementName%>.html" active="<%=elementName%>"></iron-component-page>
        -->
        <!-- This works as just a demo-->
        <<%=elementName%>>
          <p>NOT WORKING ?</p>
        </<%=elementName%>>
      <% } else if ( elementType === 'style' ){ %>
          <div>This is the place for a 2.0 style</div>
      <% } else if ( elementType === 'behavior' ) { %>
        <script>
          class <%=className%>Impl extends <%=className%>(Polymer.Element) {};
          customElements.define(<%=className%>Impl.is, <%=className%>Impl);
        </script>
        <<%=elementName%>></<%=elementName%>>

      <% } %>

    <% } else if ( elementVersion === 'vanilla' ) { %>

      <% if ( elementType === 'component' ) { %>
        <!-- This works as just a demo-->
        <<%=elementName%>>
          <p>NOT WORKING ?</p>
        </<%=elementName%>>
      <% } else if ( elementType === 'style' ) { %>
        <div>This is the place for a vanilla style</div>
      <% } else if ( elementType === 'behavior' ) { %>
        <div>This is the place for a vanilla behavior</div>
      <% } %>
    
    <% } %>
       




  </body>
</html>