<% if (elementImplementation === 'bower') { %>
<link rel="import" href="../polymer/polymer.html">
<% } else { %>
  <link rel="import" href="../bower_components/polymer/polymer.html">
<% }%>


<link rel="import" href="<%= elementName %>-styles.html">

<dom-module id="<%= elementName %>">

  <template>

    <style include="<%= elementName %>-styles"></style>
    <slot></slot>
    <h1>Hello [[prop1]]<h1>

     <h1>Reversed [[computedProp]]</h1>

  </template>

  <script src="<%=elementName%>.js"></script>
</dom-module>
