<% if (elementImplementation === 'bower') { -%>
<link rel="import" href="../polymer/polymer.html">
<% } else { -%>
<link rel="import" href="../bower_components/polymer/polymer.html">
<% } -%>
<% if (elementImplementation === 'bower') { -%>
<!--
<%= elementDescription %>
-->

<!--
Example: Use the <%= elementName %>
```html
<<%= elementName %>></<%= elementName %>>
```

### Custom properties

Custom properties are there to provide access into the Shadow DOM 
and act as guides for how to best succeed while customizing your element.

Key                              | Description                            | Usage/Defaults
---------------------------------|----------------------------------------|--------------------
`--<%= elementName %>-width`     | Width of the element                   | 256px


@group <%=elementGrouping%>
@element <%=elementName%>
@demo
@test test/index.html
-->
<% } -%>

<link rel="import" href="<%= elementName %>-styles.html">

<dom-module id="<%= elementName %>">

  <template>

    <style include="<%= elementName %>-styles"></style>

    <h1>Hello [[prop1]]</h1>

  </template>

  <script src="<%=elementName%>.js"></script>
</dom-module>
