<% if (elementImplementation === 'bower') { %>
<link rel="import" href="../polymer/polymer.html">
<% } else { %>
  <link rel="import" href="../bower_components/polymer/polymer.html">
<% }%>


<!--
    
The `<<%=elementName%>>` component provides two simple ways to use <%=elementDescription%>

1. [<%=elementName%>-classes](https://<%=gitDomain%>.com/<%=orgName%>/<%=elementName%>/tree/master/<%=elementName%>-classes.html).

The class stylesheet provides a simple set of class-based rules, that
let you specify layout properties directly in markup. You must include this file
in every element that needs to use them.
  Sample use:
  ```
    <link rel="import" href="../bower_componen/<%=elementName%>/<%=elementName%>-classes.html">
    <style is="custom-style" include="<%=elementName%>-module"></style>
    
    <div class="<%=elementName%>-basic-class">
        <div>Foo bar</div>
    </div>```

Please **note**: that the new version does not use `/deep/`, and therefore requires you
to import the `dom-modules` in every element that needs to use them.

2. [Custom CSS mixins](https://<%=gitDomain%>.com/<%=orgName%>/<%=elementName%>/blob/master/<%=elementName%>.html).
A more wholistic approach. This is a mixin stylesheet that contained custom CSS mixins that can be applied using the `@apply` function.
It can be included at the root of you application giving you access to the mixins in all your elements.

    Sample use:
    - `appIncludes.html`
    ```<link rel="import" href="../bower_component/<%=elementName%>/<%=elementName%>.html">```

    - `components/foo-wrapper/foo-wrapper.html`

    ```  
    <style is="custom-style">
      foo-component {
        ~@apply  --<%=elementName%>-basic-mixin;
      }
    </style>
    <foo-component></foo-component>```
       
        - **note** `~` is an documentation quirk, not proper syntax

@group <%=elementGrouping%>
@pseudoElement <%=elementName%>
@demo demo/index.html
@test test/index.html
-->

<style is="custom-style">
  html {

      /**
       * Mixin description 
      **/
      --<%=elementName%>-basic-mixin : {
        display: block;
        width:100px;
        height:100px;
        background:red;
      }
  }
</style>



