<% if (elementImplementation === 'bower') { -%>
<link rel="import" href="../polymer/polymer.html">
<% } else { -%>
<link rel="import" href="../bower_components/polymer/polymer.html">
<% } -%>

<script>

const <%=className%> = function(superClass) {
  return class extends superClass {
    static get properties() {
      return {
        foo: {
          type: String,
          statePath: ''
        }
      }
    }

    _barAction () {
      return true;
    }
  }
};

window.<%=className%> = Polymer.dedupingMixin(<%=className%>);
</script>
