<link rel="import" href="../polymer/polymer.html">

<script>

  window.isBehaviorExtend=behaviorNameSpace%> = window.<%=behaviorNameSpace%> || {};
  /**
   * `Polymer.<%=className%>` to <%=elementDescription%>
   * 
   * @polymerBehavior Polymer.<%=className%>
   **/
  <% if(isBehaviorExtend)  { %>
  <%=behaviorNameSpace%>.<%=className%>Impl = {
  <% } else { %>
  <%=behaviorNameSpace%>.<%=className%>= {
  <% } %>

    properties: {
      /**
       * The Foo of this element
       * 
       * @attribute foo
       * @type Boolean
       * @default true
      **/
      foo: {
        type: Boolean,
        param:true
      },

      /**
       * The Bar of this element
       * 
       * @attribute bar
       * @type Boolean
       * @default false
      **/
      bar: {
        type: Boolean,
        value:false
      }
    },

    observers: [
      '_baz(receivedFocusFromKeyboard)'
    ],


    /**
     * A demo log function. 
     * Logs the param passed in
     *
     * @param {param} string .
    **/
    basicLog: function(param) {
      console.log('Log the param', param);
    },

    /**
     * A demo private function
     * just logs itself.
     *
    **/
    _baz: function() {
      console.log('I am a baz');
    }

    
  };

  <% if(isBehaviorExtend)  { %>
  <%=behaviorNameSpace%>.<%=className%> = [
      /**
       * This is how you can extends behaviors. Each succeeding behavior
       * will overwrite properties and functions of the preceding ones. 
       * Your Local Impl will most likely be last in the array. 
      **/
      <%=behaviorNameSpace%>.<%=className%>Impl
  ];
  <% } %>


</script>
