<% if (elementVersion === '1.x') { -%>
<dom-module id="<%=elementName%>-impl">
	<template>
		<style>
			:host {
				display: inline-block;
				width:100px;
				height:100px;
				background: darkred;
			}
		</style>
		<div>HELLO WORLD</div>
	</template>

	<script>
		Polymer({
		is:'<%=elementName%>-impl',
		behaviors: [
			<%=behaviorNameSpace%>.<%=className%>
		],
		attached:function() {
			this.basicLog('IM A BEHAVIOR');
			this._baz();
		},
		});
	</script>
</dom-module>

<% } else if (elementVersion === '2.0') { -%>
<script>
	class <%=className%>Impl extends <%=className%>(Polymer.Element) {
		static get is() { return '<%=elementName%>-impl'; }
		constructor() {
			super();
			this._baz();
		}
	};
	customElements.define(<%=className%>Impl.is, <%=className%>Impl);
</script>
<% } -%>