<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">
	<title><%= elementName %> Demo Page</title>
<%if (elementVersion === '2.x') { %>
	<script src="../bower_components/webcomponentsjs/webcomponents-loader.js"></script>
<% } else { -%>
	<script src="../bower_components/webcomponentsjs/webcomponents-lite.js"></script>
<% } -%>	
	<link rel="import" href="../bower_components/<%= elementName %>/<%= elementName %>.html">
	<link rel="import" href="../bower_components/iron-demo-helpers/demo-pages-shared-styles.html">
	<link rel="import" href="../bower_components/iron-demo-helpers/demo-snippet.html">
</head>
<body unresolved>

<%if (elementVersion === '2.x') { %>
	<custom-style>
		<style is="custom-style" include="demo-pages-shared-styles">
		</style>
	</custom-style>
<%if (elementType === 'behavior') { -%>
	<link rel="import" href="<%=elementName %>-demo.html">
<% } -%>
<% } -%>
<% if (elementType === 'component') { -%>
	<h3>Example of <%= elementName %></h3>
	<p>Further description of <%= elementName %> example</p>
	<demo-snippet class="centered-demo">
		<template>
			<<%= elementName %>></<%= elementName %>>
		</template>
	</demo-snippet>

	<h3>Second example of <%= elementName %></h3>
	<demo-snippet class="centered-demo">
		<template>
			<<%= elementName %>></<%= elementName %>>
		</template>
	</demo-snippet>

<% } else if (elementType === 'style') { -%>
	<h3>Example of <%= elementName %></h3>
	<p>Included somewhere higher up in the dependency tree.</p>
	<p>Can be applied to any object.</p>
	<demo-snippet class="centered-demo">
		<template>
			<style is="custom-style">
				div.at-apply {
					@apply  --<%=elementName%>-basic-mixin;
				}
			</style>
			<div class="at-apply">
				<p>HELLO WORLD</p>
			</div>
		</template>
	</demo-snippet>

	<h3>Example of the class based <%= elementName %> implementation.</h3>
	<p>Imported as a direct dependency, and then include the dom module.</p>
	<p>The class can now be appended to any object.</p>
	<demo-snippet class="centered-demo">
		<link rel="import" href="../bower_components/<%=elementName%>/<%=elementName%>-classes.html">
		<template>
			<style is="custom-style" include="<%=elementName%>-module"></style>
			<div class="<%=elementName%>-basic-class">
				<p>HELLO WORLD</p>
			</div>
		</template>
	</demo-snippet>

<% } else { -%>
	<link rel="import" href="./<%=elementName%>-demo.html">
	<h3>Example of an element that has a behavior</h3>
	<p>The behavior is a simple log, so you will need to open your console in order to see it working</p>
	<demo-snippet class="centered-demo">
		<template>
			<<%=elementName%>-impl></<%=elementName%>-impl>
		</template>
	</demo-snippet>

<% } -%>
</body>
</html>